<section id="clients">
    <div class="container">
        <h2 class="section-header">Working with the best
            <br>
            <small class="text-muted text-center">47Admin makes your life easier. The best choice for your next project.</small>
        </h2>
        <div class="row">
            <div class="col-lg-2 col-md-4 col-xs-6">
                <img src="../app/img/landing/clients/jquery.png" alt="client" class="img-responsive">
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6">
                <img src="../app/img/landing/clients/node.png" alt="client" class="img-responsive">
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6">
                <img src="../app/img/landing/clients/gulp.png" alt="client" class="img-responsive">
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6">
                <img src="../app/img/landing/clients/jade.png" alt="client" class="img-responsive">
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6">
                <img src="../app/img/landing/clients/less.png" alt="client" class="img-responsive">
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6">
                <img src="../app/img/landing/clients/bootstrap.png" alt="client" class="img-responsive">
            </div>
        </div>
    </div>
</section>