<section>
    <!-- START Page content-->
    <section class="main-content">
        <h3>Ваша быстрая панель
            <br>
            <small>Игорь Гайдук</small>
        </h3>
    </section>
</section>