<form action="/upload/file" method="post" enctype="multipart/form-data">
    <input type="file" name="upload"><br>
    <input type="submit" value="Upload File to Server">
</form>
<script src="/vendor/ajax/jquery.form.js"></script>
<script>
    (function() {

        var bar = $('.bar');
        var percent = $('.percent');
        var status = $('#status');

        var progressbar = $("#progressbar"),
                bar         = progressbar.find('.progress-bar'),
                settings    = {

                    action: '/upload/file', // upload url

                    allow : '*.(jpg|jpeg|gif|png)', // allow only images

                    param: 'upfile',

                    loadstart: function() {
                        bar.css("width", "0%").text("0%");
                        progressbar.removeClass("hidden");
                    },

                    progress: function(percent) {
                        percent = Math.ceil(percent);
                        bar.css("width", percent+"%").text(percent+"%");
                    },

                    allcomplete: function(response) {

                        bar.css("width", "100%").text("100%");

                        setTimeout(function(){
                            progressbar.addClass("hidden");
                        }, 250);

                        // Upload Completed
                        console.log(response);
                    }
                };

        var select = new $.upload.select($("#upload-select"), settings),
                drop   = new $.upload.drop($("#upload-drop"), settings);
        /*$('form').ajaxForm({
            beforeSend: function() {
                status.empty();
                var percentVal = '0%';
                bar.width(percentVal)
                percent.html(percentVal);
            },
            uploadProgress: function(event, position, total, percentComplete) {
                console.log(event, position, total, percentComplete)
            },
            success: function() {
                var percentVal = '100%';
                bar.width(percentVal)
                percent.html(percentVal);
            },
            complete: function(xhr) {
                status.html(xhr.responseText);
            }
        });*/

    })();
</script>