#requestMain .row:first-child{
    padding: 0 15px;
}
#requestMain .row:first-child h3{
    display: inline-block;
    float: left;
    margin-top: 10px;
    margin-bottom: 15px;
}
#addrequest{
    display: inline-block;
    float: right;
}
#myRequest .form-horizontal {
    padding: 5px 15px 0 15px;
}
#myRequest .form-horizontal .dl-horizontal dt {
    padding-top: 7px;
    width: 135px;
    clear: left;
    text-align: left;
}
#myRequest .user_car dt{
    width: 175px !important;
}
#myRequest .user_car dd{
    margin-left: 175px !important;
}
#myRequest .form-horizontal .dl-horizontal dd {
    margin-left: 135px;
}
#myRequest .form-horizontal .part_number dt {
    width: 70px;
}
#myRequest .form-horizontal .part_number dd {
    margin-left: 70px;
}
#myRequest .form-horizontal .part_half dt {
    width: 95px;
}
#myRequest .form-horizontal .part_half dd {
    margin-left: 95px;
}
.modal-dialog {
    width: 65%;
    margin: 75px auto;
}
#myRequest .selectize-input{
    overflow: visible;
}
#files .widget {
    margin-bottom: 5px;
}
#files .panel-body {
    padding: 3px 5px 0 5px;
}
#files .panel-body h4, #files .panel-body .h4 {
    font-size: 14px;
    margin: 0 0 -3px 0 !important;
}
#files .panel-body small {
    font-size: 11px;
    font-style: italic;
    text-transform: uppercase;
}
#files .col-xs-1 {
    width: 5%;
    cursor: pointer;
}
#files .col-xs-2 {
    width: 17%;
}
#files .col-xs-9 {
    width: 78%;
}
#files .fa:not(.fa-2x){
    font-size: 12px;
    margin: 0 2px 0 3px
}
#files .progress-xs{
    margin-bottom: 0;
}
#files .progress-bar{
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
#requestTable .dataTables_length{
    float: left;
    display: inline-block;
    margin: 10px 0 0 0;
}
#requestTable .dataTables_paginate{
    float: right;
    display: inline-block;
}
#requestTable .dataTables_paginate .pagination {
    margin: 10px 0 0 0;
}
#requestList > thead > tr > th {
    padding: 0 8px 10px 8px;
    cursor: pointer;
}