#save_settings_user{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -6px;
    margin-right: -15px;
}
.chosen-container {
    min-width: 120px;
}
#view_setting_car dt{
    width: 110px;
    padding: 8px 0 0 0;
    height: 32px;
    text-align: center;
}
#view_setting_car dd{
    margin-left: 110px;
    height: 40px;
}
#view_setting_car .col-sm-7 dt{
    width: 150px;
}
#view_setting_car .col-sm-7 dd{
    margin-left: 160px;
}
#view_setting_car dd.padding{
    padding: 8px 0 0 0;
}
#settings_year .tooltip-min, #settings_year .tooltip-max{
    display: none;
}
#settings_year .slider-horizontal, #input-tags + .selectize-control{
    width: 100%;
    min-width: 120px;
    z-index: 2;
}
#settings_year .slider-handle{
    z-index: 2;
}
#settings_year h6{
    margin: -10px 0 -3px 25%;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    background-color: #00afd1;
    width: 50%;
    background-clip: content-box;
    border-radius: 10px;
    min-width: 45px;
}
#controll_make .label, #controll_model .label{
    padding: 0.5em .6em .5em;
    font-size: 90%;
}
#paramModelForm .input-group .form-control{
    position: static;
}
#paramModelForm label{
    cursor: pointer;
}
#paramModelForm .selectize-control{
    height: 34px;
}
#paramModelForm .checkbox{
    margin-top: 9px;
    margin-bottom: 7px;
    margin-left: 16px;
    margin-right: -8px;
}
#paramModelForm .drpdwn-select .checkbox{
    margin-top: -2px;
    margin-bottom: -2px;
    margin-left: 17px;
    margin-right: -9px;
    height: 20px;
}
#paramModelForm .drpdwn-select .selectize-control, #paramModelForm .drpdwn-select .selectize-control .selectize-input{
    height: 34px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
#paramModelForm .drpdwn-select .input-group-addon{
    padding: 8px 8px;
}
#paramModelForm .drpdwn-select .selectize-dropdown{
    position: absolute;
    z-index: 9;
}
#info_check blockquote{
    padding: 5px 10px;
    margin: 0;
    font-size: 13px;
}
.mycar #save{
    float: right;
}
#carspinner{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 10;
    display: block;
    opacity:0;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}