<div id="myRequest" tabindex="-1" role="dialog" aria-hidden="false" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                <h4 id="myModalLabel" class="modal-title">Добавление новой заявки</h4>
            </div>
            <form method="get" action="/" class="form-horizontal" id="formRequest">
                <fieldset>
                    <!-- START row -->
                    <div class="row">
                        <div class="col-sm-12">
                            <dl class="dl-horizontal user_car">
                                <dt>Деталь для автомобиля </dt>
                                <dd>
                                    <select size="1" name="user_car" id="user_car" placeholder="Выберите Ваш автомобиль...">
                                        <%
                                        for(var i=0; i<user_cars.length; i++) { %>
                                        <option value="<%= user_cars[i].id %>"><%= user_cars[i].make_name+" "+user_cars[i].model_name %></option>
                                        <% } %>
                                    </select>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <dl class="dl-horizontal">
                                <dt>Требуемая деталь *</dt>
                                <dd>
                                    <input type="text" placeholder="Требуемая деталь" id="required_item" class="form-control">
                                </dd>
                            </dl>
                        </div>
                        <div class="col-sm-4">
                            <dl class="dl-horizontal part_number">
                                <dt>Её номер</dt>
                                <dd>
                                    <input type="text" placeholder="Её номер" id="part_number" class="form-control">
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <dl class="dl-horizontal">
                                <dt>Группа запчастей</dt>
                                <dd>
                                    <select name="group_of_spare_parts" id="group_of_spare_parts" placeholder="Группа запчастей...">
                                        <option value="0">Другое</option>
                                        <option value="1">АКПП и КПП</option>
                                        <option value="2">Вентиляция</option>
                                        <option value="3">Двери</option>
                                        <option value="4">Двигатель</option>
                                        <option value="5">Инструменты</option>
                                        <option value="6">Колёса и шины</option>
                                        <option value="7">Кондиционер</option>
                                        <option value="8">Кузов</option>
                                        <option value="9">Кузов - внешние компоненты</option>
                                        <option value="10">Кузов - внутренние компоненты</option>
                                        <option value="11">Обогреватель</option>
                                        <option value="12">Ось задняя</option>
                                        <option value="13">Ось передняя</option>
                                        <option value="14">Подвеска задняя</option>
                                        <option value="15">Подвеска передняя</option>
                                        <option value="16">Рулевое управление</option>
                                        <option value="17">Сидения</option>
                                        <option value="18">Система впуска и выпуска</option>
                                        <option value="19">Система охлаждения</option>
                                        <option value="20">Система смазки</option>
                                        <option value="21">Топливная система</option>
                                        <option value="22">Тормозная система</option>
                                        <option value="23">Электрика двигателя</option>
                                        <option value="24">Электрика кузова</option>
                                    </select>
                                </dd>
                            </dl>
                        </div>
                        <div class="col-sm-6">
                            <dl class="dl-horizontal part_half">
                                <dt>Тип запчасти</dt>
                                <dd>
                                    <select size="1" name="type_of_spare_parts" id="type_of_spare_parts">
                                        <option value="0">Любая</option>
                                        <option value="1">Оригинальная</option>
                                        <option value="2">Не оригинальная</option>
                                    </select>
                                </dd>
                            </dl>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <dl class="dl-horizontal">
                                <dt>Состояние запчасти *</dt>
                                <dd>
                                    <select size="1" name="condition_parts" id="condition_parts">
                                        <option value="0">Любая</option>
                                        <option value="1">Новая</option>
                                        <option value="2">Подержаная</option>
                                    </select>
                                </dd>
                            </dl>
                        </div>
                        <div class="col-sm-6">
                            <dl class="dl-horizontal part_half">
                                <dt>Срок поставки</dt>
                                <dd>
                                        <select name="delivery_time" id="delivery_time">
                                        <option value="any">Любой</option>
                                        <option value="only_available">Только в наличии</option>
                                        <option value="up_to_one_week">До одной недели</option>
                                        <option value="up_to_two_week">До двух недель</option>
                                        <option value="up_to_three_week">До трёх недель</option>
                                        <option value="up_to_one_month">До одного месяца</option>
                                        <option value="up_to_two_month">До двух месяцев</option>
                                    </select>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <dl class="dl-horizontal">
                                <dt>Ссылка в Интернет</dt>
                                <dd>
                                    <input type="text" placeholder="http://" id="link_item" class="form-control">
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <form id="uploadFiles" action="/upload/file" method="post" enctype="multipart/form-data">
                                <div id="upload-drop" class="box-placeholder text-center">
                                    <p>
                                        <em class="fa fa-cloud-upload fa-2x"></em>
                                    </p>Перетащите файлы для загрузки или <a href="#" class="form-file">выберите стандартно<input id="upload-select" type="file" name="upfile" multiple></a>
                                    <br>
                                    <small>
                                        <cite>(max 5 файлов до 5mb; jpg, jpeg, gif, png, txt, doc, docx)</cite>
                                    </small>
                                </div>
                                <div class="row">
                                    <div id="files" class="col-sm-12">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <input id="_csrf" name="_csrf" type="hidden" value="<%= _csrf %>"/>
                </fieldset>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Отмена</button>
                    <button type="button" class="btn btn-primary" id="newRequest">Добавить новую</button>
                </div>
            </form>
        </div>
    </div>
</div>